@import 'normalize';
@import 'flexboxgrid';
@import 'media';

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800,900&subset=cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');

@regular-font: 'Montserrat', sans-serif; 
@logo-font: 'Roboto Condensed', sans-serif; 

@gradient-color: linear-gradient(0deg,#1084d9,#9eca2b);
@bg-color: #f6f6f6;

body{
    font-family: @regular-font;
    background-color: @bg-color;
}

.wrap {
    box-sizing: border-box;
    max-width: 1380px;
    margin: 0px auto;
    padding-top: 20px;
    padding-bottom: 20px;

    @media @tablet {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

.container-fluid {
    @media @tablet {
        padding-right: 30px;
        padding-left: 30px;
    }

    @media @desktop {
        padding-right: 60px;
        padding-left: 60px;
    }
}

.title{
    position: relative;
    z-index: 1;
    font-family: @regular-font;
    font-weight: 900;
    font-size: 30px;
    margin: 15px 0px;
    padding: 5px 0px;
    text-transform: uppercase;

    @media @tablet {
        font-size: 50px;
        margin: 20px 0;
        padding: 20px 0px;
    }
}

.subtitle{
    position: relative;
    z-index: 1;
    font-family: @regular-font;
    font-weight: 800;
    font-size: 20px;
    margin: 5px 0px;
    text-transform: uppercase;

    @media @tablet {
        font-size: 25px;
        margin: 15px 0px;
    }
}

.text{
    position: relative;
    z-index: 1;
    font-family: @regular-font;
    font-weight: 500;
    color: #000;
    font-size: 15px;
    margin: 15px 0px;
    padding: 5px 0px;

    @media @tablet {
        font-size: 17px;
        margin: 25px 0;
        padding: 10px 0px;
    }

    @media @desktop {
        font-size: 18px;
    }
}

.paragraph-separator{
    width: 200px;
    height: 0px;
    border: 2.5px solid #1086da;
    margin-left: -150px;
    box-sizing: border-box;

    @media @tablet {
        margin-left: -60px;
        margin-top: 45px;
        margin-bottom: 45px;
    }
}

.gradient-line{
    background: @gradient-color;
    position: absolute;
    width: 50%;
    top: 0;
    height: 100%;
    margin-left: 50%;
    right: 25%;

    @media @tablet {
        right: 0px;
        margin-left: 8.33333333%;
        width: 33.33333333%;
        height: 100%;
    }

    @media @desktop {
        right: 60px;
    }
}

.header{
    background-color: #fff;

    &__logo{
        font-family: @logo-font;
        font-weight: 700;
        font-size: 22px;
        color: #000;

        @media @tablet {
            font-size: 26px;
        }

        &_highlight{
            color: #50cdc5;
        }
    }

    &__callback-link{
        text-decoration: none;  
        color: #fff; 
    }

    &__callback{
        position: relative;
        z-index: 1;
        font-family: @regular-font;
        font-weight: 700;
        font-size: 16px;
        color: #1084d8;
        text-decoration: none;
        text-transform: uppercase;

        @media @tablet {
            font-size: 17px;
            color: #fff;
        }
    }

    &__wrap{
        position: relative;
        padding-top: 15px;
        padding-bottom: 35px;

        @media @tablet {
            padding-top: 20px;
            padding-bottom: 70px;
        }
    }

    &__fill{
        background-color: #9eca2b;
        position: absolute;

        @media @tablet {
            right: 0px;
            margin-left: 8.33333333%;
            width: 33.33333333%;
            // height: calc(~"100% + 60px");
            height: 100%;
            top: 0px;
        }

        @media @desktop {
            right: 60px;
        }
    }
}

.call-center-module{
    background-color: @bg-color;
    overflow: hidden;

    &__wrap{
        position: relative;
        background-color: @bg-color;
        padding-top: 30px;
        padding-bottom: 30px;

        @media @tablet {
            padding-top: 40px;
            padding-bottom: 40px;
        }

        @media @tablet {
            padding-bottom: 150px;
        }

        @media @desktop {
            padding-bottom: 150px;
        }
    }

    &__subtitle_highlight{
        color: #fff;
        background-color: #9eca2b;
        padding-left: 5px;
        padding-right: 5px;
        font-weight: 700;

        @media @tablet {
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    &__gradient-wrap{
        position: relative;
    }

    &__gradient{
        background: @gradient-color;
        position: absolute;

        @media @tablet {
            right: 0px;
            margin-left: 8.33333333%;
            width: 33.33333333%;
            height: 100%;
            top: 0px;
        }

        @media @desktop {
            right: 60px;
        }
    }

    &__img{
        position: relative;
        z-index: 2;
        width: 90%;
        display: block;
        margin: 20px auto;

        @media @tablet {
            position: absolute;
            width: 40%;
            top: 180px;
            right: -20px;
        }

        @media @desktop {
            width: 40%;
            top: 5px;
            right: 0px;
        }
    }
}

.actions{
    overflow: visible;
    &__wrap{
        position: relative;
        background-color: #fff;
        padding-top: 30px;
        padding-bottom: 30px;

        @media @tablet {
            padding-top: 70px;
            padding-bottom: 110px;
        }
    }

    &__quadro-el{
        position: absolute;
        visibility: hidden;

        @media @tablet {
            visibility: visible;
            z-index: 100;
            width: 26px;
            top: -46px;
            left: -13px;
        }

        @media @desktop {
            width: 30px;
            top: -140px;
            left: -16px;
        } 
    }

    &__triple-el{
        position: absolute;
        visibility: hidden;

        @media @tablet {
            visibility: visible;
            width: 150px;
            top: 250px;
            right: 35px;
        }

        @media @desktop {
            width: 150px;
            top: 150px;
            right: 150px;
        }
    }

    &__img{
        position: relative;
        display: block;
        width: 90%;
        margin: 15px auto;

        @media @tablet {
            // position: absolute;
            margin: 15px 0px 15px 0px;
        }

        @media @desktop {
            width: 90%;
        }
    }

    &__paragraph-wrap{
        padding-bottom: 20px;

        @media @tablet {
            padding-bottom: 40px;
        }

        @media @desktop {
            padding-bottom: 60px;
        }
    }

    &__paragraph-separator{
        border-color: #15a2ed;
    }

    &__subtitle_highlight{
        color: #fff;
        background-color: #15a2ed;
        padding-left: 5px;
        padding-right: 5px;
        font-weight: 700;

        @media @tablet {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}

.screen-frame{
    position: relative;
    margin: 0px auto;
    width: 100%;
    background: url(../img/border_1.svg) no-repeat center center;
    background-size: contain;
    padding: 20px 0px;
    box-sizing: border-box;
    margin-top: 20px;

    @media @tablet {
        width: 80%;
        background: url(../img/border_all.png) no-repeat center center;
        background-size: contain;
        padding: 30px 0px;
        margin-top: 50px;
    }

    @media @desktop {
        width: 65%;
        padding: 40px 0px;
    }

    &__img{
        position: relative;
        width: 100%;
        box-sizing: border-box;
        padding: 15px;

        @media @tablet {
            width: 90%;
            padding: 15px;
            margin-top: -30px;
            margin-left: 60px;
        }
    }

    &__check{
        display: none;
        position: relative;

        @media @tablet {
            display: block;
            position: absolute;
            width: 115px;
            right: -60px;
            bottom: -50px;
        }

        @media @desktop {
            display: block;
            position: absolute;
            width: 150px;
            right: -125px;
            bottom: -67px;
        }
    }

    &__pin{
        display: none;
        position: relative;

        @media @tablet {
            display: block;
            position: absolute;
            width: 60px;
            top: -40px;
            left: 10px;
        }

        @media @desktop {
            display: block;
            position: absolute;
            width: 60px;
            top: -40px;
            left: 10px;
        }
    }
}

.system-know{
    background-color: @bg-color;
    overflow: hidden;

    &__wrap{
        position: relative;
        padding-top: 30px;
        padding-bottom: 30px;

        @media @tablet {
            padding-top: 70px;
            padding-bottom: 70px;
        }
    }

    &__img{
        position: relative;
        z-index: 2;
        width: 90%;
        display: block;
        margin: 20px auto;

        @media @tablet {
            position: absolute;
            width: 40%;
            top: 300px;
            right: -30px;
        }

        @media @desktop {
            width: 40%;
            top: 50%;
            right: 0px;
            margin-top: -208px;
        }
    }

    &__paragraph-separator{
        border-color: #a1ca28;
    }
}

.order-list{
    position: relative;

    &__wrap{
        background-color: #fff;
        padding-top: 40px;
        padding-bottom: 30px;

        @media @tablet {
            padding-top: 50px;
            padding-bottom: 110px;
        }
    }

    &__subtitle_highlight{
        color: #fff;
        background-color: #a1ca28;
        padding-left: 5px;
        padding-right: 5px;
        font-weight: 700;

        @media @tablet {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}

.advantage{
    background-color: #f6f6f6;

    &__wrap{
        position: relative;
        background-color: #fff;
    }

    &__subtitle_highlight{
        color: #fff;
        background-color: #15a2ed;
        padding-left: 5px;
        padding-right: 5px;
        font-weight: 700;
        display: inline-block;

        @media @tablet {
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    &__right-subtitle_highlight{
        background-color: #a1ca28;
    }

    &__paragraph-separator{
        border-color: #15a2ed;
    }
}

.protect-business{
    background-color: #f6f6f6;
    overflow: hidden;

    &__wrap{
        position: relative;
        padding-top: 30px;
        padding-bottom: 30px;

        @media @tablet {
            padding-top: 70px;
            padding-bottom: 70px;
        }
    }

    &__img{
        position: relative;
        z-index: 2;
        width: 90%;
        display: block;
        margin: 20px auto;

        @media @tablet {
            position: absolute;
            width: 36%;
            top: 270px;
            right: -30px;
        }

        @media @desktop {
            width: 35%;
            top: 50%;
            right: 53px;
            margin-top: -208px;
        }
    }
}

.sale-scripts{
    background-color: #f6f6f6;
    
    &__wrap{
        position: relative;
        background-color: #fff;
        padding-top: 30px;
        padding-bottom: 30px;

        @media @tablet {
            padding-top: 70px;
            padding-bottom: 115px;
        }

        @media @desktop {
            padding-top: 70px;
            padding-bottom: 200px;
        }
    }

    &__triple-el{
        position: absolute;
        visibility: hidden;

        @media @tablet {
            visibility: visible;
            width: 100px;
            top: 250px;
            right: 35px;
        }

        @media @desktop {
            width: 100px;
            top: 100px;
            right: 100px;
        }
    }

    &__quadro-el{
        position: absolute;
        visibility: hidden;

        @media @tablet {
            visibility: visible;
            width: 110px;
            top: 60px;
            left: -13px;
        }

        @media @desktop {
            width: 110px;
            top: 30px;
            left: -13px;
        } 
    }

    &__img-wrap{
        position: relative;
    }

    &__img{
        position: relative;
        width: 90%;
        display: block;
        margin: 20px auto;

        @media @tablet {
            position: absolute;
            width: 400px;
            right: 10px;
        }

        @media @desktop {
            right: 0px;
            width: 500px;
        }
    }
}

.best-of-operators{
    background-color: #f6f6f6;
    overflow: hidden;

    &__wrap{
        position: relative;
        padding-top: 30px;
        padding-bottom: 50px;

        @media @tablet {
            padding-top: 80px;
            padding-bottom: 70px;
        }

        @media @desktop {
            padding-top: 100px;
            padding-bottom: 70px;
        }
    }

    &__img{
        position: relative;
        z-index: 2;
        width: 90%;
        display: block;
        margin: 20px auto;

        @media @tablet {
            position: absolute;
            width: 37%;
            top: 215px;
            right: -5px;
        }

        @media @desktop {
            width: 35%;
            top: 50%;
            right: 53px;
            margin-top: -208px;
        }
    }

    &__paragraph-separator{
        border-color: #a1ca28;
    }

    &__ellipse{
        display: none;

        @media @tablet {
            display: block;
            width: 180px;
            margin: 60px auto 30px auto;
        }

        @media @desktop {
            width: 200px;
            margin: 80px auto 60px auto;
        }
    }
}

.admins{
    background-color: #f6f6f6;

    &__wrap{
        position: relative;
        background-color: #fff;
        padding-top: 50px;
        padding-bottom: 50px;

        @media @tablet {
            padding-top: 70px;
            padding-bottom: 70px;
        }

        @media @desktop {
            padding-top: 100px;
            padding-bottom: 100px;
        }
    }

    &__screen-frame-wrap{
        position: relative;
        width: 100%;

        @media @tablet {
            padding: 1px 0px;
        }

        @media @desktop {
            padding: 5px 0px;
        }
    }

    &__screen-frame{
        display: none;

        @media @tablet {
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
        }

        &_mob{
            display: block;
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;

            @media @tablet {
                display: none;
            }
        }
    }

    &__screen-frame-img{
        width: 95%;
        display: block;
        box-sizing: border-box;
        margin: 0px auto;
        padding: 15px 0px;

        @media @tablet {
            width: 85%;
            margin-top: 20px;
            margin-left: 70px;
            margin-bottom: 45px;
        }

        @media @desktop {
            width: 85%;
            margin-top: 20px;
            margin-left: 90px;
            margin-bottom: 45px;
        }
    }
}

.lv-support{
    background-color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;

    @media @tablet {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    @media @desktop {

    }

    &__wrap{
        background: linear-gradient(0deg,#1083d8,#72d393);
        padding-top: 30px;
        padding-bottom: 30px;
    
        @media @tablet {
            padding-top: 100px;
            padding-bottom: 140px;
        }
    
    }

    &__title{
        font-family: @regular-font;
        font-weight: 700;
        font-size: 30px;
        margin: 15px 0px;
        padding: 5px 0px;
        text-transform: uppercase;

        @media @tablet {
            font-size: 50px;
            margin: 20px 0;
            padding: 20px 0px;
        }
    }

    &__img-wrap{
        position: relative;
    }

    &__img{
        position: relative;
        width: 90%;
        display: block;
        margin: 20px auto;

        @media @tablet {
            position: absolute;
            width: 438px;
            top: 31px;
            right: 10px;
        }

        @media @desktop {
            position: absolute;
            width: 510px;
            right: 60px;
            top: 20px;
        }
    }

    &__text-wrap{
        background-color: #fff;

        @media @tablet {
            padding: 10px 50px;
        }

        @media @desktop {
            padding: 10px 60px;
        }
    }

    &__paragraph-separator{
        box-sizing: border-box;
        border-color: #1086da;
        visibility: hidden;

        @media @tablet {
            visibility: visible;
            margin-left: -160px;
        }
    }
}

.footer{
    background-color: #f6f6f6;

    &__wrap{
        padding-top: 0px;
        padding-bottom: 0px;
    }
}