<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel=icon href="img/favicon.png" type="image/png">
    <link rel=icon href="img/favicon.svg" sizes="any" type="image/svg+xml">

    <title>Call-центр</title>

    <!--CSS-->
    <link rel="stylesheet" href="css/main.css">
    <!--CSS-->
</head>
<body>
    <header class="header">
        <div class="wrap header__wrap container-fluid">
            <div class="row middle-xs">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <span class="header__logo">
                        LE<span class="header__logo_highlight">AD</span>VERTEX
                    </span>
                </div>
                <div class="col-md-3 col-md-offset-3 col-sm-3 col-sm-offset-3 col-xs-6 center-md end-sm end-xs">
                    <a href="#" class="header__callback-link">
                        <span class="header__callback">
                            обратный звонок
                        </span>
                    </a>
                </div>
                <div class="header__fill">

                </div>   
            </div>
        </div>
    </header>
    <section class="call-center-module">
        <div class="wrap call-center-module__wrap container-fluid">
            <div class="row">
                <div class="col-md-7 col-sm-12 col-xs-12">
                    <h1 class="title">
                        Модуль call-центра
                    </h1>
                    <h2 class="subtitle">
                        Как построить качественный call-центр на платформе <span class="call-center-module__subtitle_highlight">LeadVertex</span>
                    </h2>
                    <img src="img/comp.svg" alt="comp" class="call-center-module__img">
                </div>
                <div class="col-md-7 col-sm-7 col-xs-12">
                    <p class="text">
                        Основа для эффективных онлайн-продаж - это качественный колл-центр.  
                    </p>
                    <p class="text">
                        В нашей CRM-системе LeadVertex.net построено множество колл-центров, как маленьких, так и принимающих тысячи заказов в день. У нас есть полный портфель инструментов, которые нужны для построения бесперебойной работы. 
                    </p>
                    <div class="paragraph-separator"></div>
                    <p class="text">
                        Итак, как организовать свой колл-центр, какие технические решения использовать, что следует знать - в этой статье! Сохраняйте себе:) 
                    </p>
                </div>
                <div class="gradient-line">

                </div>    
            </div>
        </div>
    </section>
    <section class="actions">
        <div class="wrap actions__wrap container-fluid">
            <img src="img/el_4.svg" alt="el_4" class="actions__quadro-el">
            <img src="img/el_3.svg" alt="el_3" class="actions__triple-el">
            <div class="row">
                <div class="col-md-7 col-sm-12 col-xs-12">
                    <h1 class="title">
                        Отслеживайте все действия операторов
                    </h1>
                </div>
            </div>
            <div class="row actions__paragraph-wrap">
                <div class="col-md-5 col-sm-5 col-xs-12">
                    <img src="img/operator.svg" alt="operator" class="actions__img">
                </div>
                <div class="col-md-7 col-sm-7 col-xs-12">
                    <p class="text">
                        Каждый оператор должен быть зарегистрирован отдельно и иметь свой логин и пароль. Так у вас будет информация обо всех действиях конкретного оператора над вашими заказами. У операторов не получится сделать ошибку и остаться безнаказанным.  
                    </p>
                    <div class="paragraph-separator actions__paragraph-separator"></div>
                    <p class="text">
                        На LeadVertex.net вы можете зарегистрировать сколько угодно операторов без доплаты. Для того, чтобы зарегистрировать операторов на LeadVertex, вам достаточно указать их email и отправить им приглашения на почту. 
                    </p>
                </div>
            </div>
            <div class="row center-sm start-xs">
                <div class="col-xs-12">
                    <h2 class="subtitle">
                        Действия оператора <span class="actions__subtitle_highlight">test oper</span> 
                    </h2>
                </div>
                <div class="screen-frame">
                    <img src="img/actions_screen.jpg" alt="actions_screen" class="screen-frame__img">
                    <img src="img/pin.svg" alt="pin" class="screen-frame__pin">
                    <img src="img/check.svg" alt="check" class="screen-frame__check">
                </div>
            </div>
        </div>
    </section>
    <section class="system-know">
        <div class="wrap system-know__wrap container-fluid">
            <div class="row">
                <div class="col-md-7 col-sm-12 col-xs-12">
                    <h1 class="title">
                        Система знает, какие заказы нужно прозвонить первым делом 
                    </h1>
                    <img src="img/system.svg" alt="system" class="system-know__img">
                </div>
                <div class="col-md-7 col-sm-7 col-xs-12">
                    <p class="text">
                        Режим обзвона заказов - это удобный функционал, при котором оператор не видит списка заказов и не может выбрать, на что ему звонить. Система сама подставляет оператору заказ для прозвона, согласно правилам, которые настроены старшим оператором. 
                    </p>
                    <p class="text">
                        Например, у вас есть 3 проекта. Вы задаете для каждого из них свой приоритет, чтобы какие-то заказы обзванивались чаще, чем другие. Вы можете легко настроить это, а также сделать разные доступы операторам. Например, оператор Маша будет звонить только на новые заказы. А оператор Даша - только на заказы, которые поступили неделю назад. 
                    </p>
                    <div class="paragraph-separator system-know__paragraph-separator"></div>
                    <p class="text">
                        Так, оператор не тратит время на выбор заказа, не может отказаться от нежелаемого ему клиента, звонит тогда, когда считает нужным система LeadVertex.net 
                    </p>
                </div>
                <div class="gradient-line"></div>   
            </div>
        </div>
    </section>
    <section class="order-list">
        <div class="wrap order-list__wrap container-fluid">
            <div class="row center-sm start-xs">
                <div class="col-xs-12">
                    <h2 class="subtitle">
                        список <span class="order-list__subtitle_highlight">заказов</span>
                    </h2>
                </div>
                <div class="screen-frame">
                    <img src="img/order-list_screen.jpg" alt="order-list_screen" class="screen-frame__img">
                    <img src="img/pin.svg" alt="pin" class="screen-frame__pin">
                    <img src="img/check.svg" alt="check" class="screen-frame__check">
                </div>
            </div>
        </div>
    </section>
    <section class="advantage">
        <div class="wrap advantage__wrap container-fluid">
            <div class="row">
                <div class="col-md-5 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-md-8">
                            <h2 class="subtitle">
                                Клиент не может говорить? <span class="advantage__subtitle_highlight">Перезвоните ему!</span> 
                            </h2>
                        </div>
                    </div>
                    <p class="text">
                        В режиме обзвона заказов на LeadVertex.net есть специальная кнопка. которая открывает календарик и дает вам время выбрать, когда перезвонить клиенту - через 5, 10 минут или вечером. В нужное время система сама выдаст оператору заказ, так что он ничего не забудет и клиент обязательно сделает свою покупку! 
                    </p>
                    <div class="paragraph-separator advantage__paragraph-separator"></div>
                </div>
                <div class="col-md-5 col-md-offset-2 col-sm-12 col-xs-12">
                    <h2 class="subtitle">
                        Не получается дозвониться до клиентов? <span class="advantage__subtitle_highlight advantage__right-subtitle_highlight">Не тратьте время впустую!</span> 
                    </h2>
                    <p class="text">
                        Ваши операторы то и дело слушают гудки, вместо того, чтобы разговаривать с клиентами? На LeadVertex.net есть специальная фунция авто-дозвона, которая позволит запустить робота-оператора на все ваши заказы, а в случае, если робот дозвонится, он автоматически переведет вашего клиента на живого оператора.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="protect-business">
        <div class="wrap protect-business__wrap container-fluid">
            <div class="row">
                <div class="col-md-7 col-sm-12 col-xs-12">
                    <h1 class="title">
                        Скройте от операторов номера телефонов - защитите свой бизнес 
                    </h1>
                    <img src="img/call.svg" alt="call" class="protect-business__img">
                </div>
                <div class="col-md-7 col-sm-7 col-xs-12">
                    <p class="text">
                        В системе LeadVertex.net есть встроенная телефония, с помощью которой оператор одной кнопкой совершает вызов из браузера. Ему даже не нужно видеть номер телефона или набирать его, теряя время, на мобильном телефоне. Так, ваши заказы будут в безопасности, и оператор будет гораздо более оперативно обрабатывать заказ. 
                    </p>
                    <p class="text">
                        Чтобы включить телефонию, обратитесь в поддержку LeadVertex.net и технические специалисты все вам настроят. 
                    </p>
                </div>
                <div class="gradient-line">

                </div>    
            </div>
        </div>
    </section>
    <section class="sale-scripts">
        <div class="wrap sale-scripts__wrap container-fluid">
            <img src="img/el_6.svg" alt="el_6" class="sale-scripts__triple-el">
            <img src="img/el_5.svg" alt="el_5" class="sale-scripts__quadro-el">
            <div class="row">
                <div class="col-md-9 col-sm-12 col-xs-12">
                    <h1 class="title">
                        Как проверить, следуют ли операторы скриптам продаж
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-5 col-xs-12 sale-scripts__img-wrap">
                    <img src="img/search.svg" alt="search" class="sale-scripts__img">
                </div>
                <div class="col-md-7 col-md-offset-1 col-sm-7 col-xs-12">
                    <p class="text">
                        Доверяйте, но проверяйте. В истории изменения каждого заказа вы найдете записи разговоров с клиентами, и всегда сможете прослушать, о чем разговаривают ваши операторами с клиентами, следуют ли они правилам вашей компании, корректно ли заполняют адрес и другие данные
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="best-of-operators">
        <div class="wrap best-of-operators__wrap container-fluid">
            <div class="row">
                <div class="col-md-7 col-sm-12 col-xs-12">
                    <h1 class="title">
                        Кто из операторов лучше всех?
                    </h1>
                    <img src="img/best.svg" alt="best" class="best-of-operators__img">
                </div>
                <div class="col-md-7 col-sm-7 col-xs-12">
                    <p class="text">
                        В LeadVertex.net есть подробная статистика по эффективности работы операторов. Вы можете открыть статистику и увидеть, сколько заказов принято, отменено каждым оператором. какой у них средний чек.
                    </p>
                    <div class="paragraph-separator best-of-operators__paragraph-separator"></div>
                    <img src="img/el_2.svg" alt="el_2" class="best-of-operators__ellipse">
                </div>
                <div class="gradient-line">

                </div>    
            </div>
        </div>
    </section>
    <section class="admins">
        <div class="wrap admins__wrap container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                    <div class="admins__screen-frame-wrap">
                        <img src="img/border_all.png" alt="admins_screen" class="admins__screen-frame">
                        <img src="img/border_1.png" alt="admins_screen" class="admins__screen-frame_mob">
                        <img src="img/admins_screen.jpg" alt="admins_screen" class="admins__screen-frame-img">
                        <img src="img/pin.svg" alt="pin" class="screen-frame__pin">
                        <img src="img/check.svg" alt="check" class="screen-frame__check">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="lv-support">
        <div class="wrap lv-support__wrap container-fluid">
            <div class="row start-xs">
                <div class="col-xs-12">
                    <h2 class="lv-support__title">
                        Поддержка LeadVertex 
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 col-sm-5 col-xs-12 lv-support__img-wrap">
                    <img src="img/darts.png" alt="darts" class="lv-support__img">
                </div>
                <div class="col-md-7 col-sm-7 col-xs-12 lv-support__text-wrap">
                    <p class="text">
                        Все эти функции вам настроит наша чуткая поддержка. Не забывайте писать нам по любым вашим вопросам. Мы поможем настроить вам модуль для колл-центра полностью, от А до Я!
                    </p>
                    <div class="paragraph-separator lv-support__paragraph-separator"></div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="wrap footer__wrap container-fluid">
            <div class="row start-sm center-xs middle-xs">
                <div class="col-md-12">
                    <h4>
                        2018 «LeadVertex»
                    </h4>
                </div>
            </div>
        </div>
    </footer>

<!--Scripts-->
<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<!--Scripts-->
</body>
</html>